.main-font {
    font-family: "Bebas Neue";
}

.sub-font {
    font-family: "Orbitron";
}
.custom-button {
    background-color: #00d084;
}

.copy-success-message {
    position: absolute;
    /* Adjust the styling as needed */
    background-color: #fff;
    border: 1px solid #000;
    padding: 8px;
    z-index: 100;
}
.div-box {
    background-image: linear-gradient(to right, #dcbfff, #e9d3ec);
}
.input-style {
    font-family: "Orbitron", sans-serif;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: #f3f3f3;
    padding: 10px 20px;
    border-radius: 20px;
    width: 100%;
    box-sizing: border-box;
}
.select-style {
    border-radius: 20px;
}
/* Add focus styles for the input if needed */
.input-style:focus {
    border: 2px solid #00d084; /* Example focus style */
}
